<mat-card id='card-search'>
    <mat-card-header>
        <mat-card-title id='header-search'>{{nameSearch}}</mat-card-title>

        <div class='logos-lup'>
            <div class='logos-lup' *ngIf="toggle; else buscando" (click)="onClickToggle()">
                <img src="../../../assets/icons/Lupatest.svg">
            </div>

            <ng-template #buscando class='logos-lup' (click)="onClickToggle()">

                <input matInput type="text" (keyup)="handleKeyUp($event)" class="form-control" 
                    name="search" placeholder="Search City" [(ngModel)]="searchText" autocomplete="off">

            </ng-template>
        </div>

    </mat-card-header>

    <mat-divider></mat-divider>

    <div id="wrapper">
        <div class="scrollbar" id="style-scroll">
            <mat-radio-group>
                <button mat-button class="buttons" *ngFor="let city of cities | filter:searchText"
                    value="city.name" (click)="clickCity(city.name);">{{city.name}}</button>
            </mat-radio-group>
        </div>
    </div>
</mat-card>