

<mat-card id='card-search'>
    <mat-card-header>
        <mat-card-title id='header-search'>{{nameSearch}}</mat-card-title>
        <div>
            <img id='logos' src="../../../assets/icons/Lupatest.svg">
        </div>
        <!-- <mat-form-field>
            <input matInput placeholder="" type="text">
        </mat-form-field> -->
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        
    </mat-card-content>

    <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions>
</mat-card>
