<div>

    <mat-grid-list cols="24" rowHeight="15px" id="weatherCard">

        <!-- row 1 -->
        <mat-grid-tile [colspan]="24" [rowspan]="2">
            <mat-icon id='icon-close'>close</mat-icon>
        </mat-grid-tile>

        <!-- row 2 -->
        <mat-grid-tile [colspan]="24" [rowspan]="4">
            <mat-card-title id='title-info'>{{weathers.city}}, {{weathers.country}}</mat-card-title>
        </mat-grid-tile>

        <!-- row 3 -->
        <mat-grid-tile [colspan]="16" [rowspan]="6">
            <h1 id='temperature'>{{weathers.temperature.toFixed(0)}} °</h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="8" [rowspan]="6">
            <div class="btn-group">
                <button class='buttons-temp' (click)="clickCelsius();">C</button>
                <button class='buttons-temp' (click)="clickFahrenheit();">F</button>
                <button class='buttons-temp active' (click)="clickKelvin();">K</button>

            </div>
        </mat-grid-tile>

        <!-- row 4 -->
        <mat-grid-tile [colspan]="12" [rowspan]="3">
            <ng-template [ngIf]="titleHeat()==='Cold'">
                <img src="../../../assets/icons/coldWeather.svg" id='icon-weather'>
            </ng-template>
            <ng-template [ngIf]="titleHeat()==='Warm'">
                <img src="../../../assets/icons/warmWeather.svg" id='icon-weather'>
            </ng-template>
            <ng-template [ngIf]="titleHeat()==='Hot'">
                <img src="../../../assets/icons/hotWeather.svg" id='icon-weather'>
            </ng-template>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="12" [rowspan]="3">
            <h1 id="title-heat">{{titleHeat()}}</h1>
        </mat-grid-tile>


        <!-- row 5 -->
        <mat-grid-tile [colspan]="24" [rowspan]="3">
            <button id="update-temp" mat-button (click)="clickCity(weathers.city);">Update</button>
        </mat-grid-tile>


        <!-- row 6 -->
        <mat-grid-tile [colspan]="24" [rowspan]="1">
        </mat-grid-tile>

    </mat-grid-list>

</div>