#global{
    background-color: #EDEFF6;
    height: 100%;
    width: 100%;
}
#sides{
    position: absolute;
    height: 100%;
    
    left: 0px;
}
#searching{
    position: absolute;
    left:156px;
    top:100px;
}

#infoWeather{
    position: absolute;
    left:156px;
    top:320px;
    right: 50px;
    
}