
    <mat-card class=sides-bar>

        <img id='logos' src="../../../assets/icons/leanTech.svg">


        <div id="circles">
            <img id='clocks' src="../../../assets/icons/dashboard.svg">
        </div>
        
    </mat-card>

<h1 id='titles'>{{titles}}</h1>
<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
        <h1 id='titles'>ooioioioioioioioioioioioioioioioioioiooi</h1>
    </mat-card-header>
    <mat-card-content>
    
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions>
</mat-card> -->